.parentProductCategoryOption_Heading{
    color:black;
    font-size:20
    px ;

}
.categoryName{
    font-size:15px;
    font-weight: 300;
}
.parentProductCategoryOption{
    border: solid 0.2px rgb(212, 199, 199);
    display: inline-block;
  
    margin-left: 1rem;
    padding: 0.5rem 5rem 7rem 0.5rem;
    height: fit-content;
    cursor: pointer;
    width: 10%;
}

